/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  /* background: url(../img/common/mooning_@2X.png) repeat; */
  background: white;
  font-family: 'Open Sans', sans-serif;
}

i {
  margin-right: 2px;
}

/* navbar */

#title {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#title > h1 {
  font-family: 'Josefin Slab', serif;
  text-decoration: none;
  font-weight: normal;
}

#title > h1 > a {
  text-decoration: none;
  color: #999;
}

#navbar {
  height: 100%;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  text-align: center;
}

#navbar > ul {
  margin: 0;
}

#navbar > ul > a > li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #aaa;
  padding: 3px;
}

#navbar > ul > a:hover > li {
  color: #eee;
  border-bottom: 2px solid orange;
}

/* business card - dimension ratio: 1.75 */

.business_card {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 230px;
  margin-top: -115px;
  margin-left: -200px;
  padding-top: 65px;
  background-color: white;
  color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: 'Josefin Slab', serif;
  font-weight: normal;
  text-align: center;
}

.business_card p.title {
  font-size: 1.5em;
}

/* portfolio list */

.portfolio_list {
  list-style-type: none;
  background-color: white;
}

.portfolio_list > li {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 2px;
  background-color: #eee;
}

/* content */

div.content {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border-left: 2px solid #aaa;
  /*background-color: #fcfcfc;*/
  background-color: #ccc;
  text-align: center;
}

/* main page content */

div#main_page_content {
  background-color: #ccc;
  border: none;
}

div#main_page_content > h2 {
  text-align: left;
  padding-left: 5px;
}

/* portfolio */

div#portfolio-content {
  text-align: left;
}

/* featured carousel */

ul.featured_carousel {
  display: block;
  margin: 0;
  height: 200px;
  list-style: none;
  text-align: center;
}

ul.featured_carousel li {
  border: 1px solid #aaa;
  display: none;
  width: 100%;
  height: 200px;
}

ul.featured_carousel li:first-child {
  display: inline-block;
}

/* featured stack */

div.portfolio-featured-card {
  position: relative;
  border-top: 1px solid #ddd;
  background-color: #fff;
  opacity: 1.0;
  margin-bottom: 2px;
}

div.overlay-card-image {
  height: 150px;
  width: 150px;
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

div.portfolio-featured-card-overlay {
  padding: 5px;
  padding-bottom: 10px;
  background-color: #ddd;
  color: #000;
  opacity: 1;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

div.portfolio-featured-card:hover {
  border-top: 1px solid #aaa;
}

div.portfolio-featured-card:hover div.card-image{
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

div.portfolio-featured-card:hover div.portfolio-featured-card-overlay {
  background-color: #aaa;
}

/* basic stack */

ul.portfolio-stack {
  padding: 0px;
  margin-left: 8px;
  display: inline-block;
  overflow: hidden;
  list-style: none;
}

li.portfolio-card {
  float: left;
  display: table;
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 0px;
  width: 150px;
  height: 150px;
  border: 1px solid #aaa;
  text-align: center;
}

div.portfolio-card-overlay {
  display: table-cell;
  width: 148px;
  height: 148px;
}

div.portfolio-card-overlay p {
  display: table-cell;
  width: 148px;
  height: 148px;
  vertical-align: middle;
  opacity: 0;
}

div.portfolio-card-overlay:hover p {
  cursor: pointer;
  opacity: 0.9;
  color: white;
  background-color: green;
}


/*
-----------------
POST CONTENT
-----------------
*/

div.portfolio-post-box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: #fcfcfc;
}

ul.post-control {
  list-style: none;
  margin: 0;
  text-align: center;
}

ul.post-control li {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

ul.post-control li.back-button {
  background-color: #559955;
}

ul.post-control > li.back-button:hover {
  background-color: orange;
}

ul.post-control li.date {
  height: 25px;
  background-color: #eee;
  color: #aaa;
}

ul.post-control > li.tags {
  background-color: #ddd;
  color: #aaa;
}

/*
-----------------
PORTFOLIO POST CONTENT
-----------------
*/

figure.post-image {
  text-align: center;
}

figure.post-image-thumbnails {
  text-align: center;
}

figure.post-image > img {
  border: 1px solid #ddd;
  max-width: 500px;
  min-width: 500px;
}

figure.post-image > figcaption {
  font-size: 12px;
  font-style: italic;
}

ul.post-thumbs {
  list-style: none;
  display: inline-block;
}

ul.post-thumbs > li {
  float: left;
  display: table-cell;
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid;
  max-width: 150px;
}

img.post-thumbnail {
  max-width: 150px;
  border: 1px solid #ddd;
}

img.post-thumbnail:hover {
  border: 1px solid #666;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

/* lightbox overlay */

div#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  color: white;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}

div#lightbox > div#content {
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

div#lightbox > div#content > img {
  height: 100%;
}

/* Sticky footer */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -160px;
}

#push,
#footer {
  height: 160px;
}

#footer {
  background-color: #444;
}

/* footer-content */

.footer-content {
  padding-top: 20px;
  color: white;
  font-weight: bold;
}

#footer-about {
  padding-left: 8px;
  color: white;
}

#footer-links > ul > li {
  list-style-type: none;
}

#footer-links > ul > li > a {
  color: white;
  border: none;
}

#footer-links > ul > li > a:hover {
  color: yellow;
  border: none;
}

/* responsive */
@media only screen and (max-width: 600px) {
  ul.portfolio-stack {
    max-width: 300px;
  }
}

@media only screen and (min-width: 767px) {

  ul.portfolio-stack {
    /*margin-left: 60px;*/
    max-width: 480px;
  }

  #wrap {
    margin: 0 auto -210px;
  }

  #push,
  #footer {
    height: 210px;
  }
}

@media only screen and (min-width: 800px){
  ul.portfolio-stack {
    margin-left: 8px;
    max-width: 640px;
  }

  #wrap {
    margin: 0 auto -190px;
  }

  #push,
  #footer {
    height: 190px;
  }
}

@media only screen and (min-width: 1200px) {
  ul.portfolio-stack {
    margin-left: 8px;
    max-width: 960px;
  }

  #wrap {
    margin: 0 auto -160px;
  }

  #push,
  #footer {
    height: 160px;
  }
}