/* Global Reset */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  height: 100%; }

.row {
  margin-left: 0; }

.span12 {
  margin: 0;
  width: 100%; }

.container {
  width: 767px; }

body {
  background: white;
  font-family: 'Open Sans', sans-serif; }

i {
  margin-right: 2px; }

/* navbar */
#title {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center; }

#title > h1 {
  font-family: 'Josefin Slab', serif;
  text-decoration: none;
  font-weight: normal; }

#title > h1 > a {
  text-decoration: none;
  color: #555; }

#navbar {
  height: 100%;
  text-align: center; }
  #navbar ul {
    margin: 0; }
    #navbar ul a {
      outline: 0; }
      #navbar ul a li {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        color: #555;
        padding: 3px 8px;
        font-size: 0.9em;
        font-weight: bold; }
      #navbar ul a:hover li {
        color: #aaa;
        border-bottom: 2px solid orange; }

/* business card - dimension ratio: 1.75 */
.business_card {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 230px;
  margin-top: -115px;
  margin-left: -200px;
  padding-top: 65px;
  background-color: white;
  color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: 'Josefin Slab', serif;
  font-weight: normal;
  text-align: center; }
  .business_card .title {
    font-size: 1.5em; }

.continue {
  position: fixed;
  top: 75%;
  left: 48%;
  height: 50px;
  line-height: 50px;
  width: 50px;
  background-color: #aaa;
  border-radius: 100px;
  text-align: center; }
  .continue:hover {
    background-color: #ccc;
    line-height: 55px; }

/* contact */
.contact_box {
  width: 100%;
  height: 0;
  background-color: #eee;
  margin-bottom: 10px;
  transition: height 300ms ease-out;
  overflow: hidden; }
  .contact_box.visible {
    height: 150px; }
  .contact_box .contact_info {
    padding-top: 10px; }
    .contact_box .contact_info .contact_photo {
      height: 100px;
      line-height: 100px;
      text-align: center; }
      .contact_box .contact_info .contact_photo img {
        border: 1px solid #ddd;
        border-radius: 5px; }
    .contact_box .contact_info .contact_details {
      text-align: left; }
      .contact_box .contact_info .contact_details ul {
        list-style-type: none; }
        .contact_box .contact_info .contact_details ul li {
          margin-bottom: 7px; }
          .contact_box .contact_info .contact_details ul li a {
            position: relative;
            top: -3px; }
      .contact_box .contact_info .contact_details .social_media {
        list-style-type: none;
        padding-top: 10px;
        padding-left: 14px; }
        .contact_box .contact_info .contact_details .social_media li {
          display: inline;
          margin-right: 3px; }

/* portfolio list */
.portfolio_list {
  padding: 5px 10px;
  list-style-type: none; }
  .portfolio_list .card {
    position: relative;
    display: inline-block;
    width: 230px;
    text-align: center; }
    .portfolio_list .card a {
      text-decoration: none; }
      .portfolio_list .card a .image {
        display: block;
        width: 228px;
        height: 144px; }
      .portfolio_list .card a p {
        padding: 10px;
        font-size: 1.3em;
        color: #aaa;
        margin: 0; }
    .portfolio_list .card .data {
      display: none;
      position: relative;
      float: left;
      width: 303%;
      padding-top: 30px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 30px;
      text-align: left;
      background-color: white;
      top: -35px;
      z-index: 20;
      margin-bottom: 10px; }
      .portfolio_list .card .data:before {
        border-top: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        position: absolute;
        content: " ";
        top: -10px; }
      .portfolio_list .card .data .post {
        width: 100%; }
      .portfolio_list .card .data .close_flyout {
        display: block;
        width: 100%;
        text-align: center; }
    .portfolio_list .card:nth-child(3n+1) .data.visible {
      display: block;
      left: 0; }
    .portfolio_list .card:nth-child(3n+1) .data:before {
      left: 102px; }
    .portfolio_list .card:nth-child(3n+2) .data.visible {
      display: block;
      left: -234px; }
    .portfolio_list .card:nth-child(3n+2) .data:before {
      left: 337px; }
    .portfolio_list .card:nth-child(3n) .data.visible {
      display: block;
      left: -469px; }
    .portfolio_list .card:nth-child(3n) .data:before {
      left: 575px; }
    .portfolio_list .card:hover a .image {
      -webkit-filter: sepia(50%) hue-rotate(120deg); }
    .portfolio_list .card:hover a p {
      color: #777; }

/* content */
div.content {
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 2px solid #aaa;
  background-color: #ccc;
  text-align: center; }

/* main page content */
div#main_page_content {
  background-color: #ccc;
  border: none; }

div#main_page_content > h2 {
  text-align: left;
  padding-left: 5px; }

/* portfolio */
div#portfolio-content {
  text-align: left; }

/*
-----------------
POST CONTENT
-----------------
*/
div.portfolio-post-box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.post-control {
  list-style: none;
  margin-bottom: 10px;
  text-align: right; }
  .post-control li {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em; }
    .post-control li.date {
      height: 25px;
      background-color: #eee;
      color: #aaa; }
    .post-control li.tags {
      background-color: #ddd;
      color: #aaa; }
    .post-control li.link {
      background-color: #eee;
      color: #aaa; }
    .post-control li.close_modal {
      background-color: #ae4242; }
      .post-control li.close_modal i {
        background-position: -311px 1px; }
      .post-control li.close_modal:hover {
        background-color: rgba(174, 66, 66, 0.5);
        cursor: pointer; }

/* images */
.post-image {
  text-align: center;
  margin: 10px; }
  .post-image img {
    max-width: 500px;
    min-width: 500px;
    border: 1px solid #ddd; }
  .post-image figcaption {
    font-size: 12px;
    font-style: italic; }

.post-image-thumbnails {
  text-align: center;
  margin: 0; }
  .post-image-thumbnails .post-thumbnail {
    max-width: 150px;
    border: 1px solid #ddd;
    margin-bottom: 5px; }
    .post-image-thumbnails .post-thumbnail:hover {
      border: 1px solid #aaa;
      cursor: pointer; }
  .post-image-thumbnails figcaption {
    font-size: 12px;
    font-style: italic; }

/* lightbox overlay */
#lightroom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
  z-index: -1;
  transition: background-color 150ms ease-in; }
  #lightroom.visible {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 50ms ease-out; }

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
  display: none;
  transition: background-color 150ms ease-in; }
  #lightbox.visible {
    display: inline;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 50ms ease-out; }

div#lightbox > img {
  padding: 20px;
  height: 100%;
  overflow: hidden; }

/* responsive */
@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    width: 767px; }

  .row {
    margin: 0;
    padding: 0px 10px; }
    .row .span12 {
      margin: 0; }

  .contact_box.visible {
    padding-right: 5px;
    height: 200px;
    width: 730px; }
  .contact_box .contact_info {
    height: 200px; }
    .contact_box .contact_info .contact_photo {
      height: 175px;
      line-height: 175px;
      text-align: center; }
    .contact_box .contact_info .contact_desc {
      width: 250px; }
    .contact_box .contact_info .contact_details {
      padding: 0px;
      width: 250px; }

  .portfolio-post-box {
    padding-right: 10px; } }
