</div> <!-- end of container -->
<div id="push"></div>
</div> <!-- end of wrap -->

<!-- Sticky footer -->
<div id="footer">
  <div class="container">
    <div class="row">
    <div class="span10 offset1">
    <div class="row">
    <div class="span6 footer-content" id="footer-about">
    <p>Hi, I am Raunaq.</p>
    <p>I'm a Masters student of Human Computer Interaction. I construct digital experiences and on occasions bringing them into the physical world.</p>

    <p>Previously I have been a student of Computer Science and a Software Engineer for a <a href="http://www.cpaglobal.com/">LPO firm</a> and a <a href="http://www.aricent.com/">telecommunications company</a>.</p>
    </div>
    <div class="span2 footer-content" id="footer-links">
    <ul>
    <li><a href="http://www.github.com/raunaqgupta">Github</a></li>
    <li><a href="http://www.linkedin.com/in/raunaqgupta">Linkedin</a></li>
    </ul>
    </div>
    <div class="span2 footer-content" id="footer-links">
    <ul>
    <li><a href="mailto:raunaq.rg@gmail.com?subject=Hello!" target="_blank"><i class="icon-envelope icon-white"></i>Email</a></li>
    <li><a href="/res/resume_raunaq_gupta.pdf"><i class="icon-file icon-white"></i>Resume</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>