<!-- Content -->
<div class="container">
  <div class="row">
    <div class="span12" id="title">
      <h1><a href="/portfolio.html">RAUNAQ GUPTA</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="span12" id="navbar">
      <ul>
        <a href="/portfolio.html"><li>PORTFOLIO</li></a>
        <a href="/res/raunaq_gupta.pdf"><li>RESUME</li></a>
        <a href="http://status.raunaqgupta.in"><li>STATS</li></a>
        <a href="#" class="contact_me"><li>CONTACT</li></a>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span12 contact_box">
      <div class="contact_info">
        <div class="span2 contact_photo">
          <img src="http://www.gravatar.com/avatar/e8c7e7ab7f8ad92754b38823a8e886f8.png?s=128"></img>
        </div>
        <div class="span6 contact_desc">
          Hello, I am Raunaq. I am a Masters student of Human Computer Interaction working at the intersection of interaction design and web development. Previously I have been a software engineer working for a telecommunications company and a student of computer science.
        </div>
        <div class="span4 contact_details">
          <ul>
            <li><strong>Email</strong> <a href="mailto:raunaq.rg@gmail.com">raunaq.rg@gmail.com</a></li>
            <li><strong>Phone</strong> (412) 336-8839</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>