<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{page.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <!-- Early loading modernizr -->
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <div id="lightroom"></div>
    <!-- <video id="bgvideo" autoplay loop>
      <source src="img/Clouds_(time_lapse).webm" type="video/webm">
    </video> -->
    <img id="bgvideo" src="img/lonly_big_cloud.jpg"></img>
    <div id="header">
      <h1 id="title"><a href="/portfolio.html">RAUNAQ GUPTA</a></h1>
      <ul id="navbar">
        <a href="/res/raunaq_gupta.pdf"><li>RESUME</li></a>
        <a href="#" class="contact_me"><li>CONTACT</li></a>
        <a href="/stats"><li>STATS</li></a>
      </ul>
    </div>