@import 'mixin';

/* Global Reset */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
  height: 100%;
}

.row {
  margin-left: 0;
}

.span12 {
  margin: 0;
  width: 100%;
}

.container {
    width: 767px;
  }

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

i {
  margin-right: 2px;
}

/* navbar */

#title {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#title > h1 {
  font-family: 'Josefin Slab', serif;
  text-decoration: none;
  font-weight: normal;
}

#title > h1 > a {
  text-decoration: none;
  color: #555;
}

#navbar {
  height: 100%;
  text-align: center;

  ul {
    margin: 0;

    a {
      outline: 0;

      li {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        color: #555;
        padding: 3px 8px;
        font-size: 0.9em;
        font-weight: bold;
      }

      &:hover {
        li {
          color: #aaa;
          border-bottom: 2px solid orange;
        }
      }
    }
  }
}

/* contact */

.contact_box {
  width: 100%;
  height: 0px;
  margin-bottom: 10px;
  transition: height 200ms ease-out;

  &.visible {
    height: 150px;
  }

  .contact_info {
    height: 150px;
    background-color: #eee;
    padding-top: 10px;
    visibility: hidden;
    transition: visibility 100ms ease-in;

    &.show {
      visibility: visible;
    }

    .contact_photo {
      height: 100px;
      line-height: 100px;
      text-align: center;

      img {
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    .contact_details {
      text-align: left;

      ul {
        list-style-type: none;

        li {
          margin-bottom: 7px;

          a {
            position: relative;
            top: -3px;
          }
        }
      }

      .social_media {
        list-style-type: none;
        padding-top: 10px;
        padding-left: 14px;

        li {
          display: inline;
          margin-right: 3px;
        }
      }
    }
  }
}

/* portfolio list */

.portfolio_list {
  padding: 5px 10px;
  list-style-type: none;

  .card {
    position: relative;
    display: inline-block;
    width: 230px;
    text-align: center;

    a {
      text-decoration: none;

      .image {
        display: block;
        width: 228px;
        height: 144px;
      }

      p {
        padding: 10px;
        font-size: 1.3em;
        color: #aaa;
        margin: 0;
      }
    }

    .data {
      display: none;
      position: relative;
      float: left;
      width: 303%;
      padding-top: 30px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 30px;
      text-align: left;
      background-color: white;
      top: -35px;
      z-index: 20;
      margin-bottom: 10px;

      &:before {
        border-top: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        position: absolute;
        content: " ";
        top: -10px;
      }

      .close_flyout {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    &:nth-child(3n+1){
      @include data_child(0,102px);
    }

    &:nth-child(3n+2){
      @include data_child(-234px,337px);
    }

    &:nth-child(3n){
      @include data_child(-469px,575px);
    }

    &:hover {
      a {
        .image {
          -webkit-filter: sepia(50%) hue-rotate(120deg);
        }
        p {
          color: #777;
        }
      }
    }
  }
}

/* content */

div.content {
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 2px solid #aaa;
  background-color: #ccc;
  text-align: center;
}

/* main page content */

div#main_page_content {
  background-color: #ccc;
  border: none;
}

div#main_page_content > h2 {
  text-align: left;
  padding-left: 5px;
}

/* portfolio */

div#portfolio-content {
  text-align: left;
}

/*
-----------------
POST CONTENT
-----------------
*/

div.portfolio-post-box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.post-control {
  list-style: none;
  margin: 0;
  text-align: right;

  li {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;

    &.date {
      height: 25px;
      background-color: #eee;
      color: #aaa;
    }

    &.tags {
      background-color: #ddd;
      color: #aaa;
    }

    &.close_modal {
      background-color: hsla(360, 45%, 47%, 1);
      i {
        background-position: -311px 1px;
      }

      &:hover {
        background-color: hsla(360, 45%, 47%, 0.5);
        cursor: pointer;
      }
    }
  }
}

/*
-----------------
PORTFOLIO POST CONTENT
-----------------
*/

figure.post-image {
  text-align: center;
}

figure.post-image-thumbnails {
  text-align: center;
}

figure.post-image > img {
  border: 1px solid #ddd;
  max-width: 500px;
  min-width: 500px;
}

figure.post-image > figcaption {
  font-size: 12px;
  font-style: italic;
}

img.post-thumbnail {
  max-width: 150px;
  border: 1px solid #ddd;
}

img.post-thumbnail:hover {
  border: 1px solid #666;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

/* lightbox overlay */

#lightroom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  text-align: center;
  color: white;
  z-index: -1;
  transition: background-color 150ms ease-in;

  &.visible {
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    transition: background-color 50ms ease-out;
  }
}

div#lightbox > div#content {
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

div#lightbox > div#content > img {
  height: 100%;
}

/* responsive */

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    width: 767px;
  }

  .row {
    margin: 0;
    padding: 0px 10px;

    .span12 {
      margin: 0;
    }
  }

  .contact_box {
    &.visible {
      padding-right: 5px;
      height: 200px;
      width: 730px;
    }

    .contact_info {
      height: 200px;

      .contact_photo {
        height: 175px;
        line-height: 175px;
        text-align: center;
      }

      .contact_desc {
        width: 250px;
      }

      .contact_details {
        padding: 0px;
        width: 250px;
      }
    }
  }

  .portfolio-post-box {
    padding-right: 10px;
  }
}