@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'mixin';

#page_two {
	position: relative;
	width: 100%;
	background-color: #eee;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	border-top: 5px solid #999;

	#portfolio_title {
		color: lightslategrey;
	}

	#portfolio_list, #portfolio_list_all {
		list-style: none;
		margin: 0;
		margin-top: 30px;
		padding: 0 10px;

		.card {
			position: relative;
			display: inline-block;
			width: 25%;
			margin: 1%;
			text-align: left;

			a {
	      text-decoration: none;

	      .image {
	        display: block;
	        width: 100%;
	        height: 200px;
	        border: 1px solid #ddd;
	      }

	      .title {
	        padding: 10px;
	        font-size: 1.3em;
	        color: #444;
	        margin: 0;
	      }

	      .abstract {
	      	color: black;
					float: left;
					position: absolute;
					top: 0;
					background: orange;
					width: 100%;
					height: 200px;
					opacity: 0.95;
					padding: 10px;
					display: none;
	      }
	    }

			.data {
	      display: none;
	      position: relative;
	      float: left;
	      width: 318%;
	      padding-bottom: 30px;
	      text-align: left;
	      background-color: white;
	      border: 1px solid #ddd;
	      z-index: 20;
	      margin-bottom: 10px;

	      .post-control {
				  list-style: none;
				  margin-bottom: 10px;
				  text-align: right;

				  li {
				    display: inline-block;
				    height: 25px;
				    line-height: 25px;
				    text-align: center;
				    padding-left: 0.5em;
				    padding-right: 0.5em;

				    &.date {
				      height: 25px;
				      background-color: #eee;
				      color: #aaa;
				    }

				    &.tags {
				      background-color: #ddd;
				      color: #aaa;
				    }

				    &.link {
				      background-color: #eee;
				      color: #aaa;
				    }

				    &.close_modal {
				      background-color: hsla(360, 45%, 47%, 1);
				      i {
				        background-position: -311px 1px;
				      }

				      &:hover {
				        background-color: hsla(360, 45%, 47%, 0.5);
				        cursor: pointer;
				      }
				    }
				  }
				}

				.post_title {
					margin-left: 4%;
				}

				.post_abstract {
					margin-left: 4%;
				}

				.post_overview {
					display: inline-block;
					width: 25%;
					margin: 0;
					margin-top: 30px;
					padding: 10px;
					background: #eee;
					border-top: 1px solid #ddd;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					vertical-align: top;
					list-style: none;
				}

	      .post {
	      	display: inline-block;
	        width: 74%;
	        padding-top: 30px;
		      padding-left: 60px;
		      padding-right: 60px;
	      }

	      .close_flyout {
	        display: block;
	        width: 100%;
	        text-align: center;
	      }
	    }

	    &:nth-child(3n+1){
	      @include data_child(0, 0);
	    }

	    &:nth-child(3n+2){
	      @include data_child(-109%, 0);
	    }

	    &:nth-child(3n){
	      @include data_child(-218%, 0);
	    }
		}
	}

	#portfolio_list_all {
		display: none;
	}
}

/* images */

.post-image {
  text-align: center;
  margin: 20px;

  .overview-image {
  	border: 1px solid #eee;
  }

  figcaption {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
  }
}

.post-image-thumbnails {
  text-align: center;
  margin: 0;

  .post-thumbnail {
    max-width: 150px;
    border: 1px solid #ddd;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid #aaa;
      cursor: pointer;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
    }
  }

  figcaption {
    font-size: 12px;
    font-style: italic;
  }
}

/* button */
.custom_button {
	background-color: orange;
	color: white;
	font-size: 0.9em;
	padding: 10px;
	border-radius: 4px;

	&:hover {
		cursor: pointer;
		background-color: #eee;
		color: orange;
	}
}


#page_three {
	width: 100%;
	background-color: #ccc;
	padding: 1% 0;
	font-size: 1.5em;
	color: #aaa;
	text-align: center;

	ul {
		margin: 0;
		width: 100%;
		list-style: none;
		display: inline-block;

		li {
			display: inline-block;
			padding: 0 1%;
			vertical-align: middle;
			img {
				height: 42px;
			}
		}
	}
}

#page_four {
	width: 100%;
	background-color: #aaa;
	padding: 30px 50px;
	text-align: center;
	color: lightslategrey;

	ul {
		list-style: none;
		width: 100%;
		padding: 0;
		margin: 20px 0;

		li {
			display: inline-block;
		}

		#photo_self {
			img {
				width: 150px;
				border-radius: 100px;
				border: 2px solid #eee;
			}
		}

		#about_self {
			width: 35%;
			vertical-align: middle;
			text-align: left;
			margin-left: 8%;
			color: white;

			#social {
				list-style: none;
				text-align: left;
				margin-right: 1%;
				margin-bottom: 0;

				li {
					display: inline-block;
				}
			}
		}
	}
}

#page_five {
	background: #aaa;
	text-align: center;
	padding: 0.5% 0;
	font-size: 0.8em;
	color: white;
}


// phones
@media only screen and (min-width : 320px) and (max-width : 480px) {

	#page_two {
		#portfolio_list {
			.card {
				width: 95%;
				margin-bottom: 10px;

				.data {
					width: 100%;

					.post_overview {
						width: 100%;
						border-right: 0px;
					}

					.post {
						width: 100%;
						padding: 0 4%;
					}
				}

				&:nth-child(3n+1){
		      @include data_child(0, 0);
		    }

		    &:nth-child(3n+2){
		      @include data_child(0, 0);
		    }

		    &:nth-child(3n){
		      @include data_child(0, 0);
		    }
			}
		}
	}

	#page_three {
		height: none;
		#worked_with {
			li {
				width: 100%;
				margin: 4% 0;

				.custom_button {
					width: 100px;
					height: 50px;
					line-height: 50px;
					margin: 0 auto;
					padding: 0;
				}
			}
		}
	}

	#page_four {
		ul {
			#about_self {
				width: 100%;
				margin: 0;
				margin-top: 10%;

				#social {
					text-align: center;
				}
			}
		}
	}
}

// ipad
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape){

	#introduction {
		color: white;

		#brief {
			margin-top: 1%;
			font-size: 1.2em;
		}
	}

	#page_two {
		#portfolio_list {
			.card {
				width: 30%;
				a {
					.image {
						height: 154px;
					}
					.abstract {
						height: 154px;
					}
				}

				.data {
					.post_title {
						margin-left: 2%;
					}
					.post_abstract {
						margin-left: 2%;
					}
					.post_overview {
						display: inline-block;
						width: 98%;
						margin-top: 30px;
						margin-left: 1%;
						padding: 10px;
						border: 1px solid #ddd;
						background: #eee;
						vertical-align: top;
					}

					.post {
						width: 100%;
					}
				}
			}
		}
	}

	#page_three {
		height: 61px;
	}
}

//ipad portrait
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

	#introduction {
		color: white;

		#brief {
			margin-top: 1%;
			font-size: 1.2em;
		}
	}

	#page_two {
		#portfolio_list {
			.card {
				width: 30%;
				a {
					.image {
						height: 140px;
					}
					.abstract {
						height: 140px;
					}
				}

				.data {
					.post_title {
						margin-left: 4%;
					}
					.post_abstract {
						margin-left: 4%;
					}
					.post_overview {
						display: inline-block;
						width: 92%;
						margin-top: 30px;
						margin-left: 4%;
						padding: 10px;
						background: #eee;
						border: 1px solid #ddd;
						vertical-align: top;
						font-size: 0.9em;
						list-style: none;

						li {
							display: inline-block;
							width: 25%;
						}
					}

					.post {
						width: 100%;
						padding-left: 30px;
						padding-right: 30px;
					}
				}
			}
		}
	}

	#page_three {
		height: 61px;
	}
}