{% include page_header.html %}

<div class="row">
    <div class="span10 offset1 content" id="main_page_content">
        <h2>PORTFOLIO</h2>
        <div class="row" id="portfolio-content">
            {% for post in site.categories.featured %}
            <div class="span4 {% if forloop.first %} offset1 {% endif %} portfolio-featured-card", style="background: url(/img/{{post.image_folder}}/thumbnail.jpg) center center; background-size: 200%; background-repeat: no-repeat;">
                <a href="{{post.url}}">
                    <div class="portfolio-featured-card-desc">
                        <h4>{{post.title}}</h4>
                        <p>{{post.abstract}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <hr />

        <ul class="portfolio-stack">
            {% for post in site.categories.portfolio %}
                <li class="portfolio-card">
                    <a href="{{post.url}}">
                        <div class="portfolio-card-overlay" style="background: url(/img/{{post.image_folder}}/thumbnail.jpg) center center; background-size: 200%; background-repeat: no-repeat;">
                            <p>{{post.title}}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include page_footer.html %}
