{% include page_header.html %}

<div class="row">
    <div class="span12">
        <h2>PORTFOLIO</h2>
    </div>
</div>

<div class="row">
    <div class="span12 content" id="main_page_content">
        <h3 style="color: #aaa">Featured</h3>
        <div class="row" id="portfolio-content">
            {% for post in site.categories.featured %}
            <a href="{{post.url}}">
                <div class="span4 {% if forloop.first %} offset1 {% endif %}portfolio-featured-card">
                    <div class="card-image">
                        <img src="/img/{{post.image_folder}}/logo.png"></img>
                    </div>
                    <div class="portfolio-featured-card-overlay">
                        <h4>{{post.title}}</h4>
                        {{post.abstract}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <hr />

        <h3 style="color: #aaa">All</h3>
        <ul class="portfolio-stack">
            {% for post in site.categories.portfolio %}
                <li class="portfolio-card">
                    <a href="{{post.url}}">
                        <div class="portfolio-card-overlay" style="background: url(/img/{{post.image_folder}}/thumbnail.jpg) center center; background-size: 200%; background-repeat: no-repeat;">
                            <p>{{post.title}}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include page_footer.html %}
