{% include page_header.html %}
{% include header_nav.html %}

<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="portfolio_list">
        {% for post in site.categories.portfolio %}
          <li class="card">
            <a href="{{post.url}}">
              <div class="image" style="background: url(./img/{{post.image_folder}}/thumbnail.jpg) center center; background-size: 200%; background-repeat: no-repeat;">
              </div>
              <p>{{post.title}}</p>
              <div class="overlay">
                <p>{{post.abstract}}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% include page_footer.html %}
