{% include page_header.html %}
{% include header_nav.html %}

<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="portfolio_list">
        {% for post in site.categories.portfolio %}
        <a href="{{post.url}}" class="card">
          <li class="card" style="background: url(./img/{{post.image_folder}}/thumbnail.jpg) center center; background-size: 200%; background-repeat: no-repeat;">
            <p>{{ post.title }}</p>
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% include page_footer.html %}
