{% include page_header.html %}
{% include header_nav.html %}

<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="portfolio_list">
        {% for post in site.categories.portfolio limit:9 %}
          <li class="card">
            <a class="card_link" href="#">
              <span class="image" style="background: url(./img/{{post.image_folder}}/thumbnail.jpg) center center; background-size: 100%; background-repeat: no-repeat;">
              </span>
              <p>{{post.title}}</p>
            </a>
            <span class="data">
                <ul class="post-control">
                  <li class="date">{{ post.date || date_to_long_string }}
                  </li><li class="tags">Category <strong>{{ post.tags }}</strong>
                  </li><li class="close_modal"><i class="icon-remove icon-white"></i>
                  </li>
                </ul>
                {{post.content}}

                <span class="close_flyout">
                  <button type="button" class="btn btn-success close_modal">Close</button>
                </span>
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% include page_footer.html %}
